<a href="https://colab.research.google.com/github/Christopher-Ramirez-S/An-lisis-de-datos/blob/Adrian/lab4-adr.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
from google.colab import auth
auth.authenticate_user()
print('Authenticated')

Authenticated

In [ ]:
import requests
import json
import concurrent.futures
import threading
import time
import logging
import os
from tqdm import tqdm
import datetime
import pandas as pd
import csv
import subprocess
import matplotlib.pyplot as plt
import seaborn as sns

In [8]:
df = pd.read_csv('/content/TMDB_movie_dataset_v11.csv')
data = pd.DataFrame(df)

In [10]:
data['release_date']=pd.to_datetime(data['release_date'],errors='coerce')
data_con_fechas = data.dropna(subset=['release_date'])
pelicula_vieja = data_con_fechas[data_con_fechas['release_date'] == data_con_fechas['release_date'].min()]
print("Pelicula mas vieja")
print(pelicula_vieja)
print("fecha de lanzamiento")
print(data['release_date'])

Pelicula mas vieja
             id                                title  vote_average  \
603006  1294302  בראול סטארס בחיים האמיתיים-אלון קאט           0.0

        vote_count    status release_date    revenue  runtime  adult  \
603006           0  Released   1800-01-01  100000000        0  False

       backdrop_path  ...                       original_title overview  \
603006           NaN  ...  בראול סטארס בחיים האמיתיים-אלון קאט      NaN

       popularity                       poster_path tagline  \
603006        0.6  /bCKTrWbglTHpTgl3crAhHZg7TgK.jpg     NaN

                                       genres  production_companies  \
603006  Horror, Drama, Thriller, Mystery, War            Salty Fish

       production_countries spoken_languages keywords
603006                  NaN              NaN      NaN

[1 rows x 24 columns]
fecha de lanzamiento
0         2010-07-15
1         2014-11-05
2         2008-07-16
3         2009-12-15
4         2012-04-25
             ...
1085997   2020-10-20
1085998   1982-04-01
1085999   2019-01-01
1086000          NaT
1086001          NaT
Name: release_date, Length: 1086002, dtype: datetime64[ns]

In [11]:
start_date = pd.to_datetime('1910-01-01')
end_date = pd.to_datetime('2024-07-31')
filtered_data = data[(data['release_date'] >= start_date) & (data['release_date'] <= end_date)]
filtered_data

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085995,756658,Unarchive,0.000,0,Released,2020-04-03,0,13,False,NaN,...,Desarquivar,"""Unarchive"" juxtaposes the filmmaker's father'...",0.600,/eCyzs7XJqjiXdVosJrCXExc6K5W.jpg,NaN,Documentary,NaN,"Canada, Chile",NaN,NaN
1085996,756660,We are the world,0.000,0,Released,1988-11-01,0,0,False,NaN,...,我们是世界,"In 1940, the desert areas of northwest China s...",0.600,/t8SLrkJNaehU0GLJCgXnvKxPU7s.jpg,NaN,"Drama, History","Xi'an Film Studio, Ningxia Film Studio",China,Mandarin,NaN
1085997,756661,Alien Worlds: Giants and Hybrids,0.000,0,Released,2020-10-20,0,60,False,/gqvkcgqKFVdXRrK8OJKqWjMdZIk.jpg,...,Alien Worlds: Giants and Hybrids,"Explore evidence of colossal, biblical Giants ...",1.733,/hcpiY0Gwhxx8cHHW4iXLo7VozPu.jpg,NaN,Documentary,NaN,United States of America,English,NaN
1085998,756662,"""Sok húron pendülnek""",0.000,0,Released,1982-04-01,0,61,False,/dsh08fQcM8iRofFy5KJChBgxJjq.jpg,...,"""Sok húron pendülnek""",Hungarian documentary from 1982.,0.600,/eEdOgdt7lbOd032GqlXtC3daA3M.jpg,NaN,Documentary,NaN,NaN,Hungarian,NaN
1085999,756663,Form and Place: Patkau,0.000,0,Released,2019-01-01,0,4,False,NaN,...,Form and Place: Patkau,Patkau Architects is a design research studio ...,0.600,/gFpLExutCf7U3O8UdAadG7l7uFk.jpg,NaN,Documentary,NaN,Canada,NaN,NaN

In [ ]:
##Adrian query
#Sacar las 10 peliculas con mayor votacion en todos los años

MayorVot=filtered_data.sort_values(by='vote_count',ascending=False)
MayorVot.head(10)

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
5,293660,Deadpool,7.606,28894,Released,2016-02-09,783100000,108,False,/en971MEXui9diirXlogOrPKmsEn.jpg,...,Deadpool,The origin story of former Special Forces oper...,72.735,/zq8Cl3PNIDGU3iWNRoc5nEZ6pCe.jpg,Witness the beginning of a happy ending.,"Action, Adventure, Comedy","20th Century Fox, The Donners' Company, Genre ...",United States of America,English,"superhero, anti hero, mercenary, based on comi..."
6,299536,Avengers: Infinity War,8.255,27713,Released,2018-04-25,2052415039,149,False,/mDfJG3LC3Dqb67AZ52x3Z0jU0uB.jpg,...,Avengers: Infinity War,As the Avengers and their allies have continue...,154.340,/7WsyChQLEftFiDOVTGkv3hFpyyt.jpg,An entire universe. Once and for all.,"Adventure, Action, Science Fiction",Marvel Studios,United States of America,"English, Xhosa","sacrifice, magic, superhero, based on comic, s..."
7,550,Fight Club,8.438,27238,Released,1999-10-15,100853753,139,False,/hZkgoQYus5vegHoetLkCJzb17zJ.jpg,...,Fight Club,A ticking-time-bomb insomniac and a slippery s...,69.498,/pB8BM7pdSp6B6Ih7QZ4DrQ3PmJK.jpg,Mischief. Mayhem. Soap.,Drama,"Regency Enterprises, Fox 2000 Pictures, Taurus...",United States of America,English,"dual identity, rage and hate, based on novel o..."
8,118340,Guardians of the Galaxy,7.906,26638,Released,2014-07-30,772776600,121,False,/uLtVbjvS1O7gXL8lUOwsFOH4man.jpg,...,Guardians of the Galaxy,"Light years from Earth, 26 years after being a...",33.255,/r7vmZjiyZw9rpJMQJdXpjgiCOk9.jpg,All heroes start somewhere.,"Action, Science Fiction, Adventure",Marvel Studios,United States of America,English,"spacecraft, based on comic, space, orphan, adv..."
9,680,Pulp Fiction,8.488,25893,Released,1994-09-10,213900000,154,False,/suaEOtk1N1sgg2MTM7oZd2cfVp3.jpg,...,Pulp Fiction,"A burger-loving hit man, his philosophical par...",74.862,/d5iIlFn5s0ImszYzBPb8JPIfbXD.jpg,Just because you are a character doesn't mean ...,"Thriller, Crime","Miramax, A Band Apart, Jersey Films",United States of America,"English, Spanish, French","drug dealer, boxer, massage, stolen money, bri..."

In [ ]:
#Adrian query
#Suma la cantidad de votos que a recibido todas las peliculas de una productora, las 10 primeras de mayor a menor

VotosPorProd = filtered_data.groupby('production_companies')['vote_count'].sum()
VotosPorProd.sort_values(ascending=False).head(10)

production_companies
Marvel Studios                                         433824
Pixar, Walt Disney Pictures                            169137
Paramount                                              115439
Walt Disney Productions                                112438
Pixar                                                  110702
Lucasfilm Ltd.                                         100019
Warner Bros. Pictures, Heyday Films                     87288
Walt Disney Pictures, Walt Disney Feature Animation     79750
Universal Pictures                                      77460
Warner Bros. Pictures                                   75960
Name: vote_count, dtype: int64

In [ ]:
#Adrian query
# Filtra todas las peliculas que esten en idioma Ingles
PeliIngles = filtered_data[filtered_data['spoken_languages'].str.contains('En', na=False)]
PeliIngles

,id,title,vote_average,vote_count,status,release_date,revenue,runtime,adult,backdrop_path,...,original_title,overview,popularity,poster_path,tagline,genres,production_companies,production_countries,spoken_languages,keywords
0,27205,Inception,8.364,34495,Released,2010-07-15,825532764,148,False,/8ZTVqvKDQ8emSGUEMjsS4yHAwrp.jpg,...,Inception,"Cobb, a skilled thief who commits corporate es...",83.952,/oYuLEt3zVCKq57qu2F8dT7NIa6f.jpg,Your mind is the scene of the crime.,"Action, Science Fiction, Adventure","Legendary Pictures, Syncopy, Warner Bros. Pict...","United Kingdom, United States of America","English, French, Japanese, Swahili","rescue, mission, dream, airplane, paris, franc..."
1,157336,Interstellar,8.417,32571,Released,2014-11-05,701729206,169,False,/pbrkL804c8yAv3zBZR4QPEafpAR.jpg,...,Interstellar,The adventures of a group of explorers who mak...,140.241,/gEU2QniE6E77NI6lCU6MxlNBvIx.jpg,Mankind was born on Earth. It was never meant ...,"Adventure, Drama, Science Fiction","Legendary Pictures, Syncopy, Lynda Obst Produc...","United Kingdom, United States of America",English,"rescue, future, spacecraft, race against time,..."
2,155,The Dark Knight,8.512,30619,Released,2008-07-16,1004558444,152,False,/nMKdUUepR0i5zn0y1T4CsSB5chy.jpg,...,The Dark Knight,Batman raises the stakes in his war on crime. ...,130.643,/qJ2tW6WMUDux911r6m7haRef0WH.jpg,Welcome to a world without rules.,"Drama, Action, Crime, Thriller","DC Comics, Legendary Pictures, Syncopy, Isobel...","United Kingdom, United States of America","English, Mandarin","joker, sadism, chaos, secret identity, crime f..."
3,19995,Avatar,7.573,29815,Released,2009-12-15,2923706026,162,False,/vL5LR6WdxWPjLPFRLe133jXWsh5.jpg,...,Avatar,"In the 22nd century, a paraplegic Marine is di...",79.932,/kyeqWdyUXW608qlYkRqosgbbJyK.jpg,Enter the world of Pandora.,"Action, Adventure, Fantasy, Science Fiction","Dune Entertainment, Lightstorm Entertainment, ...","United States of America, United Kingdom","English, Spanish","future, society, culture clash, space travel, ..."
4,24428,The Avengers,7.710,29166,Released,2012-04-25,1518815515,143,False,/9BBTo63ANSmhC4e6r62OJFuK2GL.jpg,...,The Avengers,When an unexpected enemy emerges and threatens...,98.082,/RYMX2wcKCBAr24UyPD7xwmjaTn.jpg,Some assembly required.,"Science Fiction, Action, Adventure",Marvel Studios,United States of America,"English, Hindi, Russian","new york city, superhero, shield, based on com..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1085979,756669,Sweets And Feet,0.000,0,Released,2014-06-20,0,0,True,NaN,...,Sweets And Feet,NaN,0.600,/ieUXSBLb6IKl1ep8LIfBXAINZVU.jpg,NaN,NaN,GayLife Network,United States of America,English,gay pornography
1085983,284046,9 Days in Summer,0.000,0,Released,1967-01-01,0,48,False,NaN,...,9 Days in Summer,A promotional film for the Ford Company detail...,0.833,/vPrpapFCFUgAEDbFBPu6UHEctuV.jpg,NaN,Documentary,"Ford Film Unit, Philip Bond and Partners",United Kingdom,English,"engineering, ford, cosworth, formula one (f1)"
1085990,756648,Bunker,0.000,0,Released,2007-09-01,0,90,True,NaN,...,Bunker,SLEAZE: tastelessness by virtue of being cheap...,0.600,/lTN8GORAFJQ2wldOWcc3iXhbBAv.jpg,NaN,NaN,Mustang Studios,United States of America,English,gay pornography
1085993,756656,The Story of Lassie,0.000,0,Released,1994-08-14,0,60,False,NaN,...,The Story of Lassie,"Documentary about canine superstar Lassie, com...",1.440,/7jB1zMCaMB4EgMY53jHSzEK4Lhz.jpg,NaN,"Documentary, Family",Wombat Productions,United States of America,English,NaN
1085997,756661,Alien Worlds: Giants and Hybrids,0.000,0,Released,2020-10-20,0,60,False,/gqvkcgqKFVdXRrK8OJKqWjMdZIk.jpg,...,Alien Worlds: Giants and Hybrids,"Explore evidence of colossal, biblical Giants ...",1.733,/hcpiY0Gwhxx8cHHW4iXLo7VozPu.jpg,NaN,Documentary,NaN,United States of America,English,NaN

Lab-4

Estudiantes:
Adrian Rodriguez Rodriguez,
Christopher Ramirez Suarez,
Aaron Navarro Balmaceda,
Rafael Garcia Delgado,
eldon caldwell salazar,

In [12]:
import pandas as pd

estudiantes = [('Ana', 23, 'San Jose', 'A'),
            ('Esteban', 22, 'Heredia', 'B'),
            ('Juan', 22, 'Cartago', 'A'),
            ('Karla', 22, 'Limón', 'A'),
            ('Ernesto', 21, 'Heredia', 'B')
            ]

df = pd.DataFrame(estudiantes, columns =['Nombre', 'Edad', 'Ciudad', 'Seccion'])
print(df)

    Nombre  Edad    Ciudad Seccion
0      Ana    23  San Jose       A
1  Esteban    22   Heredia       B
2     Juan    22   Cartago       A
3    Karla    22     Limón       A
4  Ernesto    21   Heredia       B

Funcion a retornar conjunto de datos

In [2]:
def mostrar_datos(df, columna):
  print(df[columna])

mostrar_datos(df, 'Edad')

0    23
1    22
2    22
3    22
4    21
Name: Edad, dtype: int64

Funcion que devulve la ubicacion de los elementos de la bus queda

In [3]:
def getIndexes(dfObj, value):

    listOfPos = []
    result = dfObj.isin([value])
    seriesObj = result.any()
    columnNames = list(seriesObj[seriesObj == True].index)

    for col in columnNames:
        rows = list(result[col][result[col] == True].index)

        for row in rows:
            listOfPos.append((row, col))

    return listOfPos

In [16]:

listOfPositions = getIndexes(filtered_data, '1980-01-01')

print('Index positions of 22 in Dataframe : ')

for i in range(len(listOfPositions)):
    print( listOfPositions[i])

Index positions of 22 in Dataframe :
(23207, 'release_date')
(26195, 'release_date')
(27989, 'release_date')
(31502, 'release_date')
(33225, 'release_date')
(37530, 'release_date')
(37908, 'release_date')
(38529, 'release_date')
(38719, 'release_date')
(39448, 'release_date')
(47291, 'release_date')
(47557, 'release_date')
(47947, 'release_date')
(51037, 'release_date')
(56984, 'release_date')
(60390, 'release_date')
(60717, 'release_date')
(61551, 'release_date')
(62068, 'release_date')
(62795, 'release_date')
(65012, 'release_date')
(65391, 'release_date')
(67822, 'release_date')
(72176, 'release_date')
(73985, 'release_date')
(77714, 'release_date')
(77759, 'release_date')
(79644, 'release_date')
(81606, 'release_date')
(83566, 'release_date')
(83970, 'release_date')
(84597, 'release_date')
(88460, 'release_date')
(88562, 'release_date')
(90916, 'release_date')
(91308, 'release_date')
(91589, 'release_date')
(92884, 'release_date')
(93602, 'release_date')
(96317, 'release_date')
(98560, 'release_date')
(100060, 'release_date')
(105562, 'release_date')
(108421, 'release_date')
(109544, 'release_date')
(110782, 'release_date')
(111046, 'release_date')
(115518, 'release_date')
(116604, 'release_date')
(118767, 'release_date')
(121660, 'release_date')
(124990, 'release_date')
(125172, 'release_date')
(125193, 'release_date')
(125404, 'release_date')
(126400, 'release_date')
(127486, 'release_date')
(127820, 'release_date')
(129773, 'release_date')
(130055, 'release_date')
(131817, 'release_date')
(132329, 'release_date')
(132837, 'release_date')
(134796, 'release_date')
(135469, 'release_date')
(135717, 'release_date')
(135941, 'release_date')
(136584, 'release_date')
(137010, 'release_date')
(137796, 'release_date')
(137982, 'release_date')
(139654, 'release_date')
(140142, 'release_date')
(140745, 'release_date')
(140753, 'release_date')
(141965, 'release_date')
(141999, 'release_date')
(143611, 'release_date')
(143769, 'release_date')
(143960, 'release_date')
(144269, 'release_date')
(144898, 'release_date')
(145351, 'release_date')
(146447, 'release_date')
(146556, 'release_date')
(146875, 'release_date')
(147049, 'release_date')
(147314, 'release_date')
(147396, 'release_date')
(147426, 'release_date')
(148011, 'release_date')
(148095, 'release_date')
(148690, 'release_date')
(149989, 'release_date')
(150248, 'release_date')
(150540, 'release_date')
(151392, 'release_date')
(152098, 'release_date')
(152320, 'release_date')
(153053, 'release_date')
(153233, 'release_date')
(154386, 'release_date')
(154816, 'release_date')
(155567, 'release_date')
(155648, 'release_date')
(156499, 'release_date')
(157689, 'release_date')
(158365, 'release_date')
(158686, 'release_date')
(159120, 'release_date')
(159769, 'release_date')
(160434, 'release_date')
(160585, 'release_date')
(161828, 'release_date')
(162461, 'release_date')
(163005, 'release_date')
(163577, 'release_date')
(164691, 'release_date')
(165253, 'release_date')
(166307, 'release_date')
(167008, 'release_date')
(167718, 'release_date')
(169490, 'release_date')
(170134, 'release_date')
(170776, 'release_date')
(171423, 'release_date')
(171729, 'release_date')
(171783, 'release_date')
(171880, 'release_date')
(172372, 'release_date')
(173727, 'release_date')
(174793, 'release_date')
(176673, 'release_date')
(178998, 'release_date')
(180748, 'release_date')
(180835, 'release_date')
(181050, 'release_date')
(182867, 'release_date')
(183797, 'release_date')
(184440, 'release_date')
(184453, 'release_date')
(185284, 'release_date')
(186430, 'release_date')
(188088, 'release_date')
(188598, 'release_date')
(189631, 'release_date')
(189680, 'release_date')
(190289, 'release_date')
(190780, 'release_date')
(192120, 'release_date')
(192145, 'release_date')
(192188, 'release_date')
(192238, 'release_date')
(192598, 'release_date')
(194595, 'release_date')
(195603, 'release_date')
(196511, 'release_date')
(198058, 'release_date')
(198904, 'release_date')
(198984, 'release_date')
(200553, 'release_date')
(201446, 'release_date')
(204186, 'release_date')
(204190, 'release_date')
(204534, 'release_date')
(207637, 'release_date')
(207849, 'release_date')
(209241, 'release_date')
(210304, 'release_date')
(210843, 'release_date')
(210848, 'release_date')
(212619, 'release_date')
(212821, 'release_date')
(213115, 'release_date')
(214921, 'release_date')
(215929, 'release_date')
(216925, 'release_date')
(216927, 'release_date')
(216928, 'release_date')
(216929, 'release_date')
(216930, 'release_date')
(216932, 'release_date')
(216933, 'release_date')
(217000, 'release_date')
(217002, 'release_date')
(217029, 'release_date')
(217063, 'release_date')
(217066, 'release_date')
(217067, 'release_date')
(217068, 'release_date')
(217071, 'release_date')
(217072, 'release_date')
(217073, 'release_date')
(217076, 'release_date')
(219451, 'release_date')
(220955, 'release_date')
(221752, 'release_date')
(223150, 'release_date')
(224766, 'release_date')
(225199, 'release_date')
(225693, 'release_date')
(226728, 'release_date')
(226773, 'release_date')
(226775, 'release_date')
(228498, 'release_date')
(228507, 'release_date')
(229341, 'release_date')
(230623, 'release_date')
(231624, 'release_date')
(233786, 'release_date')
(234030, 'release_date')
(236448, 'release_date')
(236605, 'release_date')
(236789, 'release_date')
(237998, 'release_date')
(238264, 'release_date')
(239754, 'release_date')
(240457, 'release_date')
(240957, 'release_date')
(241680, 'release_date')
(242927, 'release_date')
(243754, 'release_date')
(243985, 'release_date')
(244148, 'release_date')
(244480, 'release_date')
(245597, 'release_date')
(247268, 'release_date')
(248879, 'release_date')
(249641, 'release_date')
(253845, 'release_date')
(255987, 'release_date')
(256019, 'release_date')
(259916, 'release_date')
(261324, 'release_date')
(262273, 'release_date')
(262845, 'release_date')
(265422, 'release_date')
(267322, 'release_date')
(270047, 'release_date')
(270712, 'release_date')
(272058, 'release_date')
(275798, 'release_date')
(277528, 'release_date')
(278340, 'release_date')
(278516, 'release_date')
(280054, 'release_date')
(280472, 'release_date')
(280923, 'release_date')
(281362, 'release_date')
(281434, 'release_date')
(281607, 'release_date')
(281629, 'release_date')
(282927, 'release_date')
(284266, 'release_date')
(284397, 'release_date')
(284635, 'release_date')
(285787, 'release_date')
(288760, 'release_date')
(288874, 'release_date')
(290535, 'release_date')
(291467, 'release_date')
(291525, 'release_date')
(291660, 'release_date')
(291800, 'release_date')
(292615, 'release_date')
(292921, 'release_date')
(294569, 'release_date')
(294931, 'release_date')
(296370, 'release_date')
(298683, 'release_date')
(299188, 'release_date')
(299223, 'release_date')
(301916, 'release_date')
(302074, 'release_date')
(302129, 'release_date')
(302192, 'release_date')
(303457, 'release_date')
(304209, 'release_date')
(304738, 'release_date')
(304873, 'release_date')
(306373, 'release_date')
(309532, 'release_date')
(309551, 'release_date')
(311006, 'release_date')
(311058, 'release_date')
(311766, 'release_date')
(312003, 'release_date')
(312345, 'release_date')
(312841, 'release_date')
(313128, 'release_date')
(314270, 'release_date')
(314458, 'release_date')
(314486, 'release_date')
(315901, 'release_date')
(316454, 'release_date')
(317517, 'release_date')
(319156, 'release_date')
(319293, 'release_date')
(319870, 'release_date')
(320183, 'release_date')
(320539, 'release_date')
(320652, 'release_date')
(321025, 'release_date')
(321199, 'release_date')
(321341, 'release_date')
(322409, 'release_date')
(323092, 'release_date')
(323609, 'release_date')
(324789, 'release_date')
(325721, 'release_date')
(326854, 'release_date')
(327442, 'release_date')
(327950, 'release_date')
(328059, 'release_date')
(328317, 'release_date')
(329174, 'release_date')
(329386, 'release_date')
(329636, 'release_date')
(329834, 'release_date')
(330377, 'release_date')
(332790, 'release_date')
(333915, 'release_date')
(335498, 'release_date')
(335942, 'release_date')
(336253, 'release_date')
(336488, 'release_date')
(337130, 'release_date')
(342725, 'release_date')
(343468, 'release_date')
(343528, 'release_date')
(344330, 'release_date')
(345425, 'release_date')
(345512, 'release_date')
(345514, 'release_date')
(346279, 'release_date')
(347494, 'release_date')
(348259, 'release_date')
(348831, 'release_date')
(349383, 'release_date')
(350463, 'release_date')
(351583, 'release_date')
(352223, 'release_date')
(352230, 'release_date')
(352267, 'release_date')
(352308, 'release_date')
(353186, 'release_date')
(353192, 'release_date')
(354071, 'release_date')
(354477, 'release_date')
(355479, 'release_date')
(355716, 'release_date')
(355927, 'release_date')
(356023, 'release_date')
(357212, 'release_date')
(357941, 'release_date')
(357970, 'release_date')
(358526, 'release_date')
(359010, 'release_date')
(359015, 'release_date')
(359018, 'release_date')
(359024, 'release_date')
(360506, 'release_date')
(360639, 'release_date')
(360666, 'release_date')
(360764, 'release_date')
(360869, 'release_date')
(361138, 'release_date')
(361139, 'release_date')
(361166, 'release_date')
(361167, 'release_date')
(361189, 'release_date')
(361190, 'release_date')
(361645, 'release_date')
(362503, 'release_date')
(362504, 'release_date')
(362512, 'release_date')
(362632, 'release_date')
(363010, 'release_date')
(363201, 'release_date')
(366300, 'release_date')
(369776, 'release_date')
(369778, 'release_date')
(369780, 'release_date')
(369785, 'release_date')
(369788, 'release_date')
(369790, 'release_date')
(369791, 'release_date')
(369809, 'release_date')
(370057, 'release_date')
(370330, 'release_date')
(371824, 'release_date')
(374554, 'release_date')
(374657, 'release_date')
(375028, 'release_date')
(375162, 'release_date')
(376317, 'release_date')
(376418, 'release_date')
(376506, 'release_date')
(376742, 'release_date')
(377504, 'release_date')
(378178, 'release_date')
(378598, 'release_date')
(378838, 'release_date')
(379814, 'release_date')
(379981, 'release_date')
(381630, 'release_date')
(381665, 'release_date')
(384019, 'release_date')
(384179, 'release_date')
(386011, 'release_date')
(386739, 'release_date')
(386753, 'release_date')
(386754, 'release_date')
(386766, 'release_date')
(387393, 'release_date')
(389037, 'release_date')
(390424, 'release_date')
(391510, 'release_date')
(391529, 'release_date')
(391530, 'release_date')
(391658, 'release_date')
(394742, 'release_date')
(395970, 'release_date')
(396425, 'release_date')
(396427, 'release_date')
(397224, 'release_date')
(397323, 'release_date')
(398298, 'release_date')
(399179, 'release_date')
(399361, 'release_date')
(399362, 'release_date')
(403169, 'release_date')
(403311, 'release_date')
(404213, 'release_date')
(405206, 'release_date')
(405319, 'release_date')
(406904, 'release_date')
(407273, 'release_date')
(407395, 'release_date')
(408015, 'release_date')
(408086, 'release_date')
(410447, 'release_date')
(411685, 'release_date')
(412298, 'release_date')
(413048, 'release_date')
(414126, 'release_date')
(414133, 'release_date')
(414135, 'release_date')
(414136, 'release_date')
(414276, 'release_date')
(414676, 'release_date')
(415163, 'release_date')
(416183, 'release_date')
(416445, 'release_date')
(416590, 'release_date')
(416591, 'release_date')
(417261, 'release_date')
(420261, 'release_date')
(421465, 'release_date')
(424203, 'release_date')
(425133, 'release_date')
(425439, 'release_date')
(425993, 'release_date')
(426136, 'release_date')
(426197, 'release_date')
(427437, 'release_date')
(428086, 'release_date')
(428704, 'release_date')
(428706, 'release_date')
(429153, 'release_date')
(429154, 'release_date')
(429809, 'release_date')
(430990, 'release_date')
(433100, 'release_date')
(433703, 'release_date')
(433761, 'release_date')
(434350, 'release_date')
(435208, 'release_date')
(436573, 'release_date')
(436883, 'release_date')
(439137, 'release_date')
(439657, 'release_date')
(441173, 'release_date')
(441544, 'release_date')
(441575, 'release_date')
(441998, 'release_date')
(443119, 'release_date')
(443232, 'release_date')
(443429, 'release_date')
(443492, 'release_date')
(443511, 'release_date')
(444291, 'release_date')
(444593, 'release_date')
(444682, 'release_date')
(446227, 'release_date')
(446320, 'release_date')
(446630, 'release_date')
(447279, 'release_date')
(447973, 'release_date')
(448561, 'release_date')
(449311, 'release_date')
(449687, 'release_date')
(450061, 'release_date')
(450395, 'release_date')
(450454, 'release_date')
(450723, 'release_date')
(451348, 'release_date')
(452195, 'release_date')
(452369, 'release_date')
(453257, 'release_date')
(453372, 'release_date')
(453602, 'release_date')
(453735, 'release_date')
(454511, 'release_date')
(454649, 'release_date')
(454682, 'release_date')
(454791, 'release_date')
(455345, 'release_date')
(455346, 'release_date')
(455465, 'release_date')
(455594, 'release_date')
(456454, 'release_date')
(457321, 'release_date')
(457455, 'release_date')
(457851, 'release_date')
(457853, 'release_date')
(457858, 'release_date')
(457861, 'release_date')
(457864, 'release_date')
(457865, 'release_date')
(457866, 'release_date')
(457874, 'release_date')
(457877, 'release_date')
(457880, 'release_date')
(457883, 'release_date')
(457892, 'release_date')
(457940, 'release_date')
(461191, 'release_date')
(461277, 'release_date')
(461282, 'release_date')
(461440, 'release_date')
(461750, 'release_date')
(461827, 'release_date')
(462555, 'release_date')
(462819, 'release_date')
(463273, 'release_date')
(463390, 'release_date')
(463604, 'release_date')
(463653, 'release_date')
(463866, 'release_date')
(464570, 'release_date')
(464878, 'release_date')
(465741, 'release_date')
(467281, 'release_date')
(468200, 'release_date')
(468340, 'release_date')
(468603, 'release_date')
(468721, 'release_date')
(471446, 'release_date')
(471459, 'release_date')
(471531, 'release_date')
(472572, 'release_date')
(474395, 'release_date')
(475521, 'release_date')
(476442, 'release_date')
(477137, 'release_date')
(477488, 'release_date')
(481923, 'release_date')
(482291, 'release_date')
(483806, 'release_date')
(483841, 'release_date')
(485471, 'release_date')
(486539, 'release_date')
(486757, 'release_date')
(487857, 'release_date')
(487860, 'release_date')
(490519, 'release_date')
(493324, 'release_date')
(494276, 'release_date')
(496853, 'release_date')
(497296, 'release_date')
(499104, 'release_date')
(500294, 'release_date')
(500314, 'release_date')
(500575, 'release_date')
(503084, 'release_date')
(503116, 'release_date')
(503439, 'release_date')
(503563, 'release_date')
(504011, 'release_date')
(504842, 'release_date')
(507801, 'release_date')
(508198, 'release_date')
(508614, 'release_date')
(508958, 'release_date')
(510328, 'release_date')
(510398, 'release_date')
(511558, 'release_date')
(512989, 'release_date')
(513084, 'release_date')
(513836, 'release_date')
(514021, 'release_date')
(514164, 'release_date')
(515531, 'release_date')
(515875, 'release_date')
(517034, 'release_date')
(517661, 'release_date')
(518916, 'release_date')
(519610, 'release_date')
(520353, 'release_date')
(520386, 'release_date')
(520481, 'release_date')
(523379, 'release_date')
(526762, 'release_date')
(527542, 'release_date')
(528036, 'release_date')
(530029, 'release_date')
(530629, 'release_date')
(531600, 'release_date')
(532124, 'release_date')
(532126, 'release_date')
(533633, 'release_date')
(533636, 'release_date')
(535383, 'release_date')
(535911, 'release_date')
(537547, 'release_date')
(538336, 'release_date')
(539990, 'release_date')
(540439, 'release_date')
(541230, 'release_date')
(543781, 'release_date')
(549566, 'release_date')
(551503, 'release_date')
(552351, 'release_date')
(553338, 'release_date')
(553831, 'release_date')
(556645, 'release_date')
(557118, 'release_date')
(557147, 'release_date')
(557690, 'release_date')
(558167, 'release_date')
(559782, 'release_date')
(559792, 'release_date')
(559795, 'release_date')
(563001, 'release_date')
(564151, 'release_date')
(566148, 'release_date')
(566783, 'release_date')
(568562, 'release_date')
(568901, 'release_date')
(569741, 'release_date')
(571435, 'release_date')
(571607, 'release_date')
(583673, 'release_date')
(584143, 'release_date')
(584630, 'release_date')
(585775, 'release_date')
(586646, 'release_date')
(590836, 'release_date')
(590917, 'release_date')
(593307, 'release_date')
(596423, 'release_date')
(597321, 'release_date')
(598166, 'release_date')
(602160, 'release_date')
(602365, 'release_date')
(602972, 'release_date')
(604016, 'release_date')
(604020, 'release_date')
(604388, 'release_date')
(605202, 'release_date')
(606953, 'release_date')
(610177, 'release_date')
(615533, 'release_date')
(616143, 'release_date')
(617551, 'release_date')
(617675, 'release_date')
(619015, 'release_date')
(619080, 'release_date')
(619081, 'release_date')
(619727, 'release_date')
(619742, 'release_date')
(619774, 'release_date')
(619883, 'release_date')
(619951, 'release_date')
(621068, 'release_date')
(622580, 'release_date')
(623583, 'release_date')
(623767, 'release_date')
(625693, 'release_date')
(626497, 'release_date')
(627794, 'release_date')
(628404, 'release_date')
(628531, 'release_date')
(628792, 'release_date')
(628795, 'release_date')
(628903, 'release_date')
(629058, 'release_date')
(629979, 'release_date')
(633179, 'release_date')
(633261, 'release_date')
(633264, 'release_date')
(633332, 'release_date')
(635801, 'release_date')
(636327, 'release_date')
(636615, 'release_date')
(637777, 'release_date')
(638838, 'release_date')
(639690, 'release_date')
(641132, 'release_date')
(643135, 'release_date')
(643143, 'release_date')
(643379, 'release_date')
(644641, 'release_date')
(645931, 'release_date')
(646590, 'release_date')
(646912, 'release_date')
(647897, 'release_date')
(647915, 'release_date')
(649013, 'release_date')
(649234, 'release_date')
(649567, 'release_date')
(649592, 'release_date')
(649686, 'release_date')
(649876, 'release_date')
(650143, 'release_date')
(650145, 'release_date')
(650962, 'release_date')
(651107, 'release_date')
(652117, 'release_date')
(653094, 'release_date')
(653606, 'release_date')
(654090, 'release_date')
(654092, 'release_date')
(654093, 'release_date')
(654104, 'release_date')
(654107, 'release_date')
(654108, 'release_date')
(654346, 'release_date')
(655685, 'release_date')
(655742, 'release_date')
(656881, 'release_date')
(657433, 'release_date')
(657444, 'release_date')
(657653, 'release_date')
(658175, 'release_date')
(659150, 'release_date')
(660133, 'release_date')
(660884, 'release_date')
(661093, 'release_date')
(661235, 'release_date')
(662343, 'release_date')
(662996, 'release_date')
(663260, 'release_date')
(664415, 'release_date')
(665175, 'release_date')
(665197, 'release_date')
(665208, 'release_date')
(665217, 'release_date')
(665395, 'release_date')
(667758, 'release_date')
(668690, 'release_date')
(669224, 'release_date')
(670481, 'release_date')
(671871, 'release_date')
(672390, 'release_date')
(672651, 'release_date')
(673032, 'release_date')
(673036, 'release_date')
(673372, 'release_date')
(673526, 'release_date')
(673539, 'release_date')
(673543, 'release_date')
(673555, 'release_date')
(673668, 'release_date')
(674891, 'release_date')
(675212, 'release_date')
(675353, 'release_date')
(675357, 'release_date')
(675803, 'release_date')
(675804, 'release_date')
(675832, 'release_date')
(677079, 'release_date')
(678093, 'release_date')
(679224, 'release_date')
(680678, 'release_date')
(683219, 'release_date')
(683377, 'release_date')
(685125, 'release_date')
(686013, 'release_date')
(688166, 'release_date')
(688193, 'release_date')
(688743, 'release_date')
(689722, 'release_date')
(689726, 'release_date')
(689936, 'release_date')
(690115, 'release_date')
(690397, 'release_date')
(691294, 'release_date')
(691379, 'release_date')

In [17]:
listOfPositions = getIndexes(filtered_data, 'Marvel Studios')

print('Index positions of 22 in Dataframe : ')

for i in range(len(listOfPositions)):
    print( listOfPositions[i])

Index positions of 22 in Dataframe :
(4, 'production_companies')
(6, 'production_companies')
(8, 'production_companies')
(12, 'production_companies')
(15, 'production_companies')
(23, 'production_companies')
(24, 'production_companies')
(26, 'production_companies')
(27, 'production_companies')
(28, 'production_companies')
(34, 'production_companies')
(36, 'production_companies')
(39, 'production_companies')
(42, 'production_companies')
(52, 'production_companies')
(67, 'production_companies')
(82, 'production_companies')
(117, 'production_companies')
(169, 'production_companies')
(320, 'production_companies')
(373, 'production_companies')
(451, 'production_companies')
(737, 'production_companies')
(5126, 'production_companies')
(6523, 'production_companies')
(6640, 'production_companies')
(6777, 'production_companies')
(7355, 'production_companies')
(8881, 'production_companies')
(9249, 'production_companies')
(10556, 'production_companies')
(10707, 'production_companies')
(10907, 'production_companies')
(15636, 'production_companies')
(23527, 'production_companies')
(29434, 'production_companies')
(32748, 'production_companies')
(33102, 'production_companies')
(33414, 'production_companies')
(35339, 'production_companies')
(36727, 'production_companies')
(38676, 'production_companies')
(41618, 'production_companies')
(43980, 'production_companies')
(46236, 'production_companies')
(72770, 'production_companies')
(109863, 'production_companies')
(166357, 'production_companies')
(674917, 'production_companies')
(693832, 'production_companies')